<li class="message">
  <p><%= text %></p>
  <div>
    <p>
      <span><%= user %></span>
      <span>|</span>
      <span><i><%= added.toLocaleString() %></i></span>
    </p>
    <a class="delete" data-id="<%= id %>">
      <img src="/trashcan.svg" alt="delete icon" />
    </a>
  </div>
</li>
