<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main class="main">
      <ul class="messages">
        <% messages.forEach(message => { %>
        <%- include('./partials/message', {id: message.id, text: message.text, user: message.user, added: message.added}); %>
        <% }); %>
      </ul>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
