<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main class="main">
      <ul class="messages">
        <% if (messages.length > 0 ) { %>
          <% messages.forEach(message => { %>
          <%- include('./partials/message', {id: message.id, text: message.text, username: message.username, added: message.added}); %>
          <% }); %>
        <% } else { %>
          <p>There are no messages...</p>
        <% } %>
      </ul>
    </main>
    <%- include("partials/footer") %>
  </body>

  <script>
    const trashcans = document.querySelectorAll(".delete");

    trashcans.forEach((trashcan) => {
      trashcan.addEventListener("click", async (e) => {
        const endpoint = `/${e.currentTarget.dataset.id}`;

        const res = await fetch(endpoint, {
          method: "DELETE",
        });

        if (res.ok) {
          const liElement = e.target.closest("li");
          if (liElement) {
            liElement.remove();
          }
        } else {
          console.error("Failed to delete message.");
        }
      });
    });
  </script>
</html>
