<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <header>
      <a href="/"><h1 class="header">Mini Message Board</h1></a>
      <nav id="nav">
        <ul>
          <li><a href="/">Messages</a></li>
          <li><a href="/new">New message</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <% if (isForm) { %> <%- include("components/form") %> <% } else { %> <%-
      include("components/messages") %> <% } %>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
