<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <header>
      <h1 class="header">Mini Message Board</h1>
    </header>
    <main class="main">
      <% if (isForm) { %> <%- include("components/form") %> <% } else { %> <%-
      include("components/messages") %> <% } %>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
