@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  border-bottom: solid 1px #475569;
  color: #1e293b;
  padding: 0.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1.header {
  font-size: 2rem;
}

header a {
  color: inherit;
}

#nav ul {
  display: flex;
  gap: 0.7em;
}

body {
  background-color: #e7e5e4;
  font-size: 16px;
  font-family: "Noto Serif", serif;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  color: #1e293b;
  padding: 0.5em;
  text-align: center;
  font-size: 0.85rem;
}

main {
  padding: 1em;
}

ul {
  list-style-type: none;
}

ul.messages {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

li.message {
  border-left: 3px solid #991b1b;
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

li.message > p > span:last-child {
  font-size: 0.85rem;
}
li.message > p:first-child {
  font-size: 1.15rem;
}

.message div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form {
  color: #e7e5e4;
  background-color: #1e293b;
  padding: 1em;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  border-radius: 15px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
}

#form > h2 {
  text-align: center;
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

#form label,
#form input,
#form textarea {
  font-size: 1rem;
}

#form input,
#form textarea {
  width: 100%;
  display: block;
  line-height: 1.5;
  border-radius: 5px;
  border: none;
  background-color: #475569;
  color: #e7e5e4;
  padding: 0.2em;
  font-size: 1rem;
  margin-top: 0.2em;
}

textarea#text {
  min-height: 20ch;
  resize: none;
  field-sizing: content;
  margin-bottom: 0.5em;
}

.btn {
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 15px;
  cursor: pointer;
}

.submit {
  font-weight: bold;
  border: none;
  background-color: #e7e5e4;
  color: #991b1b;
}

.submit:hover {
  background-color: #991b1b;
  color: #e7e5e4;
}

.delete {
  padding: 0.3em 0.5em;
}
